div.form-buy-lease-container
    form.form-buy-lease
        div.radio-buy-lease
            input(type="radio" name="buy_lease" id="buy_btn" checked="checked").radio-buy-lease__btn
            label(for="buy_btn" class="radio-buy-lease__text buy") Покупка
            input(type="radio" name="buy_lease" id="lease_btn").radio-buy-lease__btn
            label(for="lease_btn" class="radio-buy-lease__text lease") Аренда
