div.triangle-menu
    div.triangle-menu__small-triangle-container
        div.triangle-menu__small-triangle
            div.menu-icon
                div.line
                    a(href="javascript:MenuAnimation ();")
                div.line
                div.line
    div.triangle-menu__big-triangle-container
        div.triangle-menu__big-triangle
            div.triangle-menu__slogan-container
                div
                    a(href="javascript:MenuCloseAnimation();") Скрыть
                p Аренда офисов
                p Аренда апартаментов
                p Продажа офисов
                p Продажа апартаментов

    div.triangle-menu__white-line-container
        div.triangle-menu__white-line
            nav
                ul
                    li
                        a(href="javascript:void(0);") О проекте
                    li
                        a(href="javascript:void(0);") Апартаменты
                    li
                        a(href="javascript:void(0);") Виды
                    li
                        a(href="javascript:void(0);") Команда
                    li
                        a(href="javascript:void(0);") Галерея
                    li
                        a(href="javascript:void(0);") Контакты
