+tower_popup("tower_popup1", "tower-popup tower-popup--position1", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup2", "tower-popup tower-popup--position2", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup3", "tower-popup tower-popup--position3", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup4", "tower-popup tower-popup--position4", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup5", "tower-popup tower-popup--position5", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup7", "tower-popup tower-popup--position7", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup8", "tower-popup tower-popup--position8", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup9", "tower-popup tower-popup--position9", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup10", "tower-popup tower-popup--position10", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup11", "tower-popup tower-popup--position11", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup12", "tower-popup tower-popup--position12", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
+tower_popup("tower_popup13", "tower-popup tower-popup--position13", "IQ-квартал", "42 этажа", "169 м2", "2", "3", "1", "1", "javascript:void(0);")
