.form-buy-lease-container
  position: relative
  margin-left: auto
  margin-right: auto
  padding-top: 1px
  width: 1600px
  height: 400px
  background-color: #ccf1ef

.form-buy-lease
  position: relative
  margin-top: -135px
  margin-left: auto
  margin-right: auto
  width: 1200px
  height: 300px
  background-color: #fff
  box-shadow: 0 8px 27px rgba(0,184,174,0.34)

.radio-buy-lease
  position: absolute
  top: -26px
  left: 460px
  width: 280px
  height: 52px
  letter-spacing: -0.36em


.radio-buy-lease__text
  display: inline-block
  width: 140px
  height: 52px
  cursor: pointer
  font-size: 16px
  font-weight: bolder
  letter-spacing: normal
  text-align: center
  line-height: 50px
  background-color: #e1e1e1
  color: #8a8a8a
  user-select: none
.buy
  border-radius: 26px 0 0 26px
.lease
  border-radius: 0 26px 26px 0


.radio-buy-lease__btn
  display: none
  &:checked
    & +.radio-buy-lease__text
      background-color: #00b8ae
      color: #ffffff